<div class="login">

    <div><span style="float: left">Author : Sandeep Hooda</span></div><br/>
    <!-- Section 1 Sign in button-->
    <a class="btn btn-block btn-social btn-google" style="width:130px;color:#eee" *ngIf="!signedInUser" href="/oauth2callback?request=signin">
        <span class="fa fa-google"></span>Sign in 
    </a>
    <a class="btn btn-block btn-social btn-google" style="width:130px;color:#eee" *ngIf="signedInUser" href="/SignOut">
        <span class="fa fa-google"></span>Sign out
    </a>
    <span *ngIf="signedInUser">Welcome, {{signedInUser}}</span>
</div>
<!-- Section 2 navigation --> 


<div *ngIf="signedInUser">
 <nav-bar></nav-bar>
 <router-outlet></router-outlet>
</div>






