<!-- Spinner loader -->
<div class="loading-overlay" #spinnerElement  >
    <div class="spinner">
    <md-spinner></md-spinner>
    </div>
</div>
<button  *ngIf="stepIndicator > 1" pButton type="button" (click)="previousStep()"           icon="fa-arrow-left" [style]="{'float':'left'}" label="Back" ></button>
<button *ngIf="stepIndicator > 0"  pButton type="button" (click)="showProfileSummaryStep()" icon="fa-close"      style="float:right;" label="Cancel"></button>
<button *ngIf="stepIndicator == 0" pButton type="button" (click)="selectCompanyStep()"      icon="fa-plus" style="float:right;" label="Add"></button><br/>
<add-company *ngIf="stepIndicator == 1" [companyNames]="companyNames" (onCompanySelect)="companyNameSelected($event)" ></add-company>
<add-profile *ngIf="stepIndicator == 2" [companyNameSelected]="companyName" (onSchemeSelect)="schemeSelected($event)"></add-profile>
<add-fund-details *ngIf="stepIndicator == 3" (onSaveSuccess)="showProfile()" [schemeCode]="schemeCode" [companyNameSelected]="companyName" [schemeName]="schemeName"></add-fund-details>

<div *ngIf="stepIndicator == 0">
<hr class="ui-widget-content" style="border-top:0">

<p-dataGrid [value]="allProfiles" [paginator]="true" [rows]="20">
    <p-header>
        List of profiles
    </p-header>
    <ng-template let-profile pTemplate="item">
        <div style="padding:3px" class="ui-g-12 ui-md-3">
             <p-panel [header]="profile.schemeName" [style]="{'text-align':'left'}">
               
                <div >{{profile.currentValue}} ({{profile.xirr | number : '1.2-2'}})</div>
                <hr class="ui-widget-content" style="border-top:0">
                <div >Date: {{profile.investmentDate}}</div>
                <div >Amount: {{profile.investmentAmount}}</div>
                <div >Units: {{profile.units | number : '1.2-2'}}</div>
            </p-panel>
        </div>
    </ng-template>
</p-dataGrid>
</div>