
<p-messages [(value)]="msgs"></p-messages> 
<hr/>
{{httpError}}
<div align="center">
        Days :
<p-dropdown  [options]="chartDays" [(ngModel)]="maxDays" (onChange)="dateRangeChanged()"></p-dropdown>
<p-dropdown  [options]="top5" [(ngModel)]="top5Selection" (onChange)="top5Changed()"></p-dropdown>
</div>

<p-selectButton [options]="tickers" [(ngModel)]="selectedTickers" multiple="multiple" (onChange)="addToComparision()" >
</p-selectButton>
<button type="button" (click)="clearSelectedTickers()" pButton icon="fa-close" label="Clear"></button>

<p-chart type="line" [data]="comparisionData" ></p-chart>
 
<div  *ngFor="let row of priceVO; index as i;first as isFirst;last as isLast"> 
        <p-chart type="line" [data]="row" ></p-chart>
</div>