<br/>

add profile

<p-listbox  filter="filter" [options]="companyNames" [(ngModel)]="selectedCompany" [style]="{'width':'95%','max-height':'350px'}" >
     
</p-listbox>
<br/>
<div style="width:95%" align="right">

<button pButton type="button" class="ui-button-secondary" icon="fa-arrow-left" label="Back" [style]="{'float':'left'}"></button>
&nbsp;&nbsp;
<button pButton type="button" class="ui-button-primary" icon="fa-arrow-right" label="Next" [style]="{'float':'right'}"></button>
</div>
<br/>
<br/>

