

<h4>Add fund details:{{schemeName}} </h4>
<hr/>
<div class="loading-overlay" #spinnerElement  >
    <div class="spinner">
    <md-spinner></md-spinner>
    </div>
</div>

    <div class="sip">
      <span class="headings textPadding">Investment date &nbsp;</span>
    </div>
    <div class="sip componentPadding"> 
    <span ><p-calendar inputStyleClass="calender" [maxDate]="maxDate" (onSelect)="fetchNAV()" [(ngModel)]="investmentDate"   [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100"></p-calendar> </span >
    </div>
  
    <div class="sip textPadding" >
     <span class="headings"> Investment Amount &nbsp;&nbsp;</span>
    </div>
    <div class="sip" >
        <input type="text" pInputText   [(ngModel)]="investmentAmount" (keyup)="changeUnitsBought()"/> 
    </div>
    <div class="sip textPadding" >
     <span class="headings"> NAV &nbsp;&nbsp;</span>
    </div>
    <div class="sip" >
        <input type="text" pInputText   [(ngModel)]="navOnInvestmentDate" (keyup)="changeUnitsBought()"/> 
    </div>
    <div class="sip textPadding" >
     <span class="headings"> Units &nbsp;&nbsp;</span>
    </div>
    <div class="sip" >
        <span class="headings"> {{units | number : '1.2-2' }}</span> 
       
    </div>
<hr/>
<div style="width:95%" align="right">
<button  (click)="saveFundDetails()" pButton type="button" [disabled]="!units || formSubmit" class="ui-button-success"  label="Save" ></button>

</div>

    {{httpError}}