<div class="login">

    <div><span style="float: left">Contact : Sandeep Hooda 
        <a href="mailto:sonu.hooda@gmail.com?Subject=Feedback%20XIRR%20Caclulator" target="_top">sonu.hooda@gmail.com</a>
    </span></div><br/>
    <!-- Section 1 Sign in button-->
    <a class="btn btn-block btn-social btn-google" style="width:130px;color:#eee" *ngIf="!signedInUser" href="/oauth2callback?request=signin">
        <span class="fa fa-google"></span>Sign in 
    </a>

    <a class="btn btn-block btn-social btn-google" style="width:130px;color:#eee" *ngIf="signedInUser" href="/SignOut" (click)="deleteLocalStorage()">
        <span class="fa fa-google"></span>Sign out 
    </a>
   
    <span *ngIf="signedInUser">Welcome {{signedInUser}}</span>
</div>
<!-- Section 2 navigation --> 


<div *ngIf="signedInUser">
 <nav-bar></nav-bar>
 <br/>
 <router-outlet></router-outlet>
  <br/> <br/>
</div>