
.headings {
  font-weight: bold;
}

.paddingR50 {
  padding-right: 60px;
}
.paddingL10 {
  padding-left: 30px;
  
}
.withdrawls {
   min-width: 150px;
}
.textPadding {
  padding-right: 1px;
}
.componentPadding {
  padding-right: 50px;
}
.sip {
  padding-top: 10px;
  display :inline;
  padding-left: 10px;
}
h4 {
   padding-left: 10px;
}
.login {
  padding-left: 10px;
}
.Withdrawals {
  min-width: 330px;
  padding-left: 10px;
}
@media (max-width: 730px) {
.sip {
    display :block;
    padding-left: 10px;
}
.headings {
  font-weight: normal;
  
}

}
