<div style="min-width: 950px;">
    
        <div class="loading-overlay" #spinnerElement  >
            <div class="spinner">
            <md-spinner></md-spinner>
            </div>
        </div>
    <span  class="info"><i class="fa fa-2x fa-info-circle"  aria-hidden="true" (click)="toggleInfo()"></i></span>
    <br/><br/>
    <p-messages [(value)]="msgs"></p-messages> 
    <!--
    <div style="background-color: white">
        <div *ngIf="eqChart">
            <span>Equity chart</span>
            <p-chart type="line" [data]="eqChart" ></p-chart>
        </div>
        <div *ngIf="mfChart">
            <span>Mutual Fund chart</span>
            <p-chart type="line" [data]="mfChart" ></p-chart>
        </div>
    </div>     
-->
<div class="ui-helper-clearfix">
    <button type="button" pButton icon="fa-external-link" iconPos="left" label="CSV" (click)="dg.exportCSV()" style="float:right"></button>
</div>
<p-dataTable #dg [responsive]="true"  [value]="stockTrend"  [rows]="20" [paginator]="true" resizableColumns="true">
   
<p-column field="_id"  header="Ticker"  [sortable]="true"></p-column>

<p-column field="currentMarketPrice" header="Price" [sortable]="true">
    <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="body">
        <span >{{data[col.field] | number : '1.2-2'}}</span> 
    </ng-template>
</p-column>
<p-column [style]="{'width':'100px'}" field="median3"  header="3M median"  [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.median3  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>

<p-column [style]="{'width':'100px'}" field="median6"  header="6M"   [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.median6  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>
<p-column [style]="{'width':'100px'}" field="median1Y"  header="1Y"   [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.median1Y  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>
<p-column [style]="{'width':'100px'}" field="median2Y"  header="2Y"   [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.median2Y  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>
<p-column [style]="{'width':'100px'}" field="median3Y"  header="3Y"  [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.median3Y  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>
<p-column [style]="{'width':'100px'}" field="median5Y"  header="5Y"   [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.median5Y  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>

<p-column  [style]="{'width':'100px'}" field="xirr5"  header="5 D Xirr"   [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.xirr5  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>
<p-column field="xirr10"  header="10 D"  [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.xirr10  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>
<p-column field="xirr30"   header="30 D"  [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.xirr30  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>
<p-column field="xirr182"   header="6 M"  [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.xirr182  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>
<p-column field="xirr365"  header="1 Y"  [sortable]="true">
    <ng-template let-row="rowData" pTemplate="body">
        <span>{{row.xirr365  | number : '1.2-2'}}</span>
    </ng-template>
</p-column>


</p-dataTable>
    </div>