
<h4>Add details</h4>
<div class="loading-overlay" #spinnerElement  >
    <div class="spinner">
    <md-spinner></md-spinner>
    </div>
</div>
<hr/>
<div class="sip">
      <span class="headings textPadding"><b>Stock exchange &nbsp;</b></span>
    </div>
    <div class="sip componentPadding"> 
    <span >{{selectedStock.exchange}}</span >
</div>
<div class="sip">
      <span class="headings textPadding"><b>Stock ticker &nbsp;</b></span>
    </div>
    <div class="sip componentPadding"> 
    <span >{{selectedStock.ticker}}</span >
</div>
<div class="sip">
      <span class="headings textPadding"><b>Company name &nbsp;</b></span>
    </div>
    <div class="sip componentPadding"> 
    <span >{{selectedStock.companyName}}</span >
</div>
<hr/>
<div class="sip">
      <span class="headings textPadding"><b>Investment date &nbsp;</b></span>
    </div>
    <div class="sip componentPadding"> 
    <span ><p-calendar inputStyleClass="calender"   [(ngModel)]="purchaseDate"   [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100"></p-calendar> </span >
</div>

 <div class="sip textPadding" >
     <span class="headings"><b>Purchase Quantity &nbsp;</b></span>
 </div>
 <div class="sip" >
        <input type="text" pInputText   [(ngModel)]="purchaseQty" /> 
 </div>
<div class="sip textPadding" >
     <span class="headings"><b>Purchase price &nbsp;</b></span>
 </div>
 <div class="sip" >
        <input type="text" pInputText   [(ngModel)]="purchasePrice" /> 
 </div>
<hr/>
<div style="width:95%" align="right">
<button  (click)="addStockToProfile()" pButton type="button" [disabled]="anyErrorInForm()" class="ui-button-success"  label="Save" ></button>

</div>

    {{httpError}}


