<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fin-cal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>xirr</display-name>
    <servlet-name>xirr</servlet-name>
    <servlet-class>com.endpoint.xirr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xirr</servlet-name>
    <url-pattern>/xirr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oauth2callback</display-name>
    <servlet-name>oauth2callback</servlet-name>
    <servlet-class>com.servlet.oauth2callback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2callback</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.servlet.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProfile</display-name>
    <servlet-name>getProfile</servlet-name>
    <servlet-class>com.servlet.getProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProfile</servlet-name>
    <url-pattern>/getProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestNAV</display-name>
    <servlet-name>TestNAV</servlet-name>
    <servlet-class>amfiindia.TestNAV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestNAV</servlet-name>
    <url-pattern>/TestNAV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNavs</display-name>
    <servlet-name>GetNavs</servlet-name>
    <servlet-class>amfiindia.GetNavs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNavs</servlet-name>
    <url-pattern>/GetNavs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToProfile</display-name>
    <servlet-name>AddToProfile</servlet-name>
    <servlet-class>com.endpoint.AddToProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToProfile</servlet-name>
    <url-pattern>/AddToProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfiles</display-name>
    <servlet-name>GetProfiles</servlet-name>
    <servlet-class>com.endpoint.GetProfiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfiles</servlet-name>
    <url-pattern>/GetProfiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNav</display-name>
    <servlet-name>GetNav</servlet-name>
    <servlet-class>com.endpoint.GetNav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNav</servlet-name>
    <url-pattern>/GetNav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProfile</display-name>
    <servlet-name>DeleteProfile</servlet-name>
    <servlet-class>com.endpoint.DeleteProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfile</servlet-name>
    <url-pattern>/DeleteProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSipList</display-name>
    <servlet-name>GetSipList</servlet-name>
    <servlet-class>com.endpoint.GetSipList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSipList</servlet-name>
    <url-pattern>/GetSipList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveSipList</display-name>
    <servlet-name>SaveSipList</servlet-name>
    <servlet-class>com.endpoint.SaveSipList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSipList</servlet-name>
    <url-pattern>/SaveSipList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartData</display-name>
    <servlet-name>ChartData</servlet-name>
    <servlet-class>com.endpoint.ChartData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartData</servlet-name>
    <url-pattern>/ChartData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartDataUI</display-name>
    <servlet-name>ChartDataUI</servlet-name>
    <servlet-class>com.endpoint.ChartDataUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartDataUI</servlet-name>
    <url-pattern>/ChartDataUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopFundOfAllHouses</display-name>
    <servlet-name>TopFundOfAllHouses</servlet-name>
    <servlet-class>com.endpoint.TopFundOfAllHouses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopFundOfAllHouses</servlet-name>
    <url-pattern>/TopFundOfAllHouses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPensionList</display-name>
    <servlet-name>GetPensionList</servlet-name>
    <servlet-class>com.endpoint.GetPensionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPensionList</servlet-name>
    <url-pattern>/GetPensionList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePensionList</display-name>
    <servlet-name>SavePensionList</servlet-name>
    <servlet-class>com.endpoint.SavePensionList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePensionList</servlet-name>
    <url-pattern>/SavePensionList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLoanList</display-name>
    <servlet-name>GetLoanList</servlet-name>
    <servlet-class>com.endpoint.GetLoanList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLoanList</servlet-name>
    <url-pattern>/GetLoanList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveLoanList</display-name>
    <servlet-name>SaveLoanList</servlet-name>
    <servlet-class>com.endpoint.SaveLoanList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveLoanList</servlet-name>
    <url-pattern>/SaveLoanList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateLoanRateOfIntrest</display-name>
    <servlet-name>CalculateLoanRateOfIntrest</servlet-name>
    <servlet-class>com.endpoint.CalculateLoanRateOfIntrest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateLoanRateOfIntrest</servlet-name>
    <url-pattern>/CalculateLoanRateOfIntrest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartDataUIForMyProfile</display-name>
    <servlet-name>ChartDataUIForMyProfile</servlet-name>
    <servlet-class>com.endpoint.ChartDataUIForMyProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartDataUIForMyProfile</servlet-name>
    <url-pattern>/ChartDataUIForMyProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStock</display-name>
    <servlet-name>AddStock</servlet-name>
    <servlet-class>com.endpoint.AddStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStock</servlet-name>
    <url-pattern>/AddStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStockProfile</display-name>
    <servlet-name>GetStockProfile</servlet-name>
    <servlet-class>com.endpoint.GetStockProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStockProfile</servlet-name>
    <url-pattern>/GetStockProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStockFromProfile</display-name>
    <servlet-name>DeleteStockFromProfile</servlet-name>
    <servlet-class>com.endpoint.DeleteStockFromProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStockFromProfile</servlet-name>
    <url-pattern>/DeleteStockFromProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfiles_mf_archive</display-name>
    <servlet-name>GetProfiles_mf_archive</servlet-name>
    <servlet-class>com.endpoint.GetProfiles_mf_archive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfiles_mf_archive</servlet-name>
    <url-pattern>/GetProfiles_mf_archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfiles_mf_archive_csv</display-name>
    <servlet-name>GetProfiles_mf_archive_csv</servlet-name>
    <servlet-class>com.endpoint.GetProfiles_mf_archive_csv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfiles_mf_archive_csv</servlet-name>
    <url-pattern>/GetProfiles_mf_archive_csv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfiles_mf_archive</display-name>
    <servlet-name>EditProfiles_mf_archive</servlet-name>
    <servlet-class>com.endpoint.EditProfiles_mf_archive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfiles_mf_archive</servlet-name>
    <url-pattern>/EditProfiles_mf_archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetStockProfile_eq_archive</display-name>
    <servlet-name>GetStockProfile_eq_archive</servlet-name>
    <servlet-class>com.endpoint.GetStockProfile_eq_archive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetStockProfile_eq_archive</servlet-name>
    <url-pattern>/GetStockProfile_eq_archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfiles_eq_archive</display-name>
    <servlet-name>EditProfiles_eq_archive</servlet-name>
    <servlet-class>com.endpoint.EditProfiles_eq_archive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfiles_eq_archive</servlet-name>
    <url-pattern>/EditProfiles_eq_archive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveWishList</display-name>
    <servlet-name>SaveWishList</servlet-name>
    <servlet-class>com.endpoint.SaveWishList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveWishList</servlet-name>
    <url-pattern>/SaveWishList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetWishList</display-name>
    <servlet-name>GetWishList</servlet-name>
    <servlet-class>com.endpoint.GetWishList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWishList</servlet-name>
    <url-pattern>/GetWishList</url-pattern>
  </servlet-mapping>
</web-app>