<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fin-cal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>xirr</display-name>
    <servlet-name>xirr</servlet-name>
    <servlet-class>com.endpoint.xirr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xirr</servlet-name>
    <url-pattern>/xirr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oauth2callback</display-name>
    <servlet-name>oauth2callback</servlet-name>
    <servlet-class>com.servlet.oauth2callback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2callback</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>com.servlet.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProfile</display-name>
    <servlet-name>getProfile</servlet-name>
    <servlet-class>com.servlet.getProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProfile</servlet-name>
    <url-pattern>/getProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestNAV</display-name>
    <servlet-name>TestNAV</servlet-name>
    <servlet-class>amfiindia.TestNAV</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestNAV</servlet-name>
    <url-pattern>/TestNAV</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNavs</display-name>
    <servlet-name>GetNavs</servlet-name>
    <servlet-class>amfiindia.GetNavs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNavs</servlet-name>
    <url-pattern>/GetNavs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToProfile</display-name>
    <servlet-name>AddToProfile</servlet-name>
    <servlet-class>com.endpoint.AddToProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToProfile</servlet-name>
    <url-pattern>/AddToProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfiles</display-name>
    <servlet-name>GetProfiles</servlet-name>
    <servlet-class>com.endpoint.GetProfiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfiles</servlet-name>
    <url-pattern>/GetProfiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNav</display-name>
    <servlet-name>GetNav</servlet-name>
    <servlet-class>com.endpoint.GetNav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNav</servlet-name>
    <url-pattern>/GetNav</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProfile</display-name>
    <servlet-name>DeleteProfile</servlet-name>
    <servlet-class>com.endpoint.DeleteProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProfile</servlet-name>
    <url-pattern>/DeleteProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSipList</display-name>
    <servlet-name>GetSipList</servlet-name>
    <servlet-class>com.endpoint.GetSipList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSipList</servlet-name>
    <url-pattern>/GetSipList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveSipList</display-name>
    <servlet-name>SaveSipList</servlet-name>
    <servlet-class>com.endpoint.SaveSipList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveSipList</servlet-name>
    <url-pattern>/SaveSipList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChartData</display-name>
    <servlet-name>ChartData</servlet-name>
    <servlet-class>com.endpoint.ChartData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartData</servlet-name>
    <url-pattern>/ChartData</url-pattern>
  </servlet-mapping>
</web-app>