 <main (click)="menuClick()">
<header>
	
  <a id="menu" class="hamburger" >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"/>
          </svg>
        </a>
</header>

<nav id="drawer"  class="nav" >
  <ul class="nav__list">
    <li class="nav__item"><a routerLink="Stock" routerLinkActive="active">Stock</a></li>
    <li class="nav__item"><a routerLink="lumpsump" routerLinkActive="active">MF-Lump Sump</a></li>
    <li class="nav__item"><a routerLink="sip" routerLinkActive="active">MF-Sip</a></li>
    <li class="nav__item"><a href="#Pension">Pension</a></li>
    <li class="nav__item"><a href="#Loan">Loan</a></li>
    <li class="nav__item"><a href="#Analytics">Radar</a></li> 
    <li class="nav__item"><a href="#Ledgger">Wish List</a></li> 
    <li class="mobile-hide nav__item"><a href="#CorpAnalysis">Corp Analysis</a></li> 
    
  </ul>
</nav> 

</main> 