<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <link rel="stylesheet" type="text/css" href="assets/css/styles/font-awesome.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/styles/omega-theme.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/styles/primeng.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/styles/bootstrap.min.css" >
  <link rel="stylesheet" href="assets/css/styles/styles.css">
  <link rel="stylesheet" href="assets/css/styles/bootstrap-social.css">
  <link rel="stylesheet" href="assets/css/styles/deeppurple-amber.css">
  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">


</head>

<body>

  <xirr>
    Loading...
  </xirr>

 

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>
