<!-- Spinner loader -->
<div class="loading-overlay" #spinnerElement  >
    <div class="spinner">
    <md-spinner></md-spinner>
    </div>
</div>
<button  *ngIf="stepIndicator > 1" pButton type="button" (click)="previousStep()"   icon="fa-arrow-left" label="Back" ></button>
<button *ngIf="stepIndicator > 0"  pButton type="button" (click)="showProfileSummaryStep()" icon="fa-close"      style="float:right;" label="Cancel"></button>
<button *ngIf="stepIndicator == 0" pButton type="button" (click)="selectCompanyStep()"      icon="fa-plus" style="float:right;" label="Add"></button><br/>
<add-company *ngIf="stepIndicator == 1" [companyNames]="companyNames" (onCompanySelect)="companyNameSelected($event)" ></add-company>
<add-profile *ngIf="stepIndicator == 2" [companyNameSelected]="companyName" (onSchemeSelect)="schemeSelected($event)"></add-profile>
<add-fund-details *ngIf="stepIndicator == 3" (onSaveSuccess)="showProfile()" [schemeCode]="schemeCode" [companyNameSelected]="companyName" [schemeName]="schemeName"></add-fund-details>

<div *ngIf="stepIndicator == 0">
<hr class="ui-widget-content" style="border-top:0">

<p-dataGrid [value]="allProfiles" [paginator]="true" [rows]="20">
    <p-header>
       Total Investment : {{totalInvetment | number : '1.2-2' }} Total Gain/Loss : {{totalGain | number : '1.2-2'}} ({{totalXirr | number : '1.2-2'}} %)
    </p-header>
    <ng-template let-profile pTemplate="item">
        <div style="padding:3px" class="ui-g-12 ui-md-3">
             <p-panel  [style]="{'text-align':'left'}"  > 
               <p-header>
                   {{profile.schemeName}} {{profile.companyTotalInvestment | number : '1.2-2'}} ({{profile.companyXirr | number : '1.2-2'}} %)
               </p-header>   
                <div [ngClass]="{'profitBack' : (profile.xirr >=0) , 'lossBack' : (profile.xirr < 0)}">{{profile.currentValue | number : '1.2-2'}} ({{profile.xirr | number : '1.2-2'}} %)</div>
                <hr class="ui-widget-content" style="border-top:0; margin-top:1px;margin-bottom:1px">
                <div >Date: {{profile.investmentDate}}</div>
                <div >Amount: {{profile.investmentAmount}}</div>
                <div >Units: {{profile.units | number : '1.2-2'}}</div>
                <p-footer>
                <span (click)="deleteProfile(profile.profileID)" ><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                </p-footer>
            </p-panel>
        </div>
    </ng-template>
</p-dataGrid>
<p-dialog header="Confirmation" [(visible)]="displayConfirmation" modal="modal" width="300" [responsive]="true">
    <p>Are you sure you want to delete the Fund?</p>
        <p-footer>
            <button type="button" pButton icon="fa-check" (click)="confirmDelete()" label="Yes"></button>
            <button type="button" pButton icon="fa-close" (click)="displayConfirmation=false" label="No"></button>
        </p-footer>
</p-dialog>
</div>
