<!-- Spinner loader -->
<div class="loading-overlay" #spinnerElement  >
    <div class="spinner">
    <md-spinner></md-spinner>
    </div>
</div>
<button  *ngIf="stepIndicator > 1" pButton type="button" (click)="previousStep()"           icon="fa-arrow-left" [style]="{'float':'left'}" label="Back" ></button>
<button *ngIf="stepIndicator > 0"  pButton type="button" (click)="showProfileSummaryStep()" icon="fa-close"      style="float:right;" label="Cancel"></button>
<button *ngIf="stepIndicator == 0" pButton type="button" (click)="selectCompanyStep()"      icon="fa-plus" style="float:right;" label="Add"></button><br/>
<add-company *ngIf="stepIndicator == 1" [companyNames]="companyNames" (onCompanySelect)="companyIDSelected($event)" ></add-company>
<add-profile *ngIf="stepIndicator == 2" [companyIDSelected]="companyID" (onSchemeSelect)="schemeSelected($event)"></add-profile>
<add-fund-details *ngIf="stepIndicator == 3" [companyIDSelected]="companyID" [schemeCode]="schemeCode"></add-fund-details>

{{portfolio}}

<p-dataTable [value]="allProfiles">
    <p-column field="investmentDate" header="Date"></p-column>
    <p-column field="nav" header="Nav"></p-column>
    <p-column field="investmentAmount" header="Amount"></p-column>
    <p-column field="units" header="Units"></p-column>
    <p-column field="schemeName" header="SchemeName"></p-column>
</p-dataTable>

<p-dataGrid [value]="allProfiles" [paginator]="true" [rows]="20">
    <p-header>
        List of profiles
    </p-header>
    <ng-template let-profile pTemplate="item">
        <div style="padding:3px" class="ui-g-12 ui-md-3">
            <p-panel [header]="profile.schemeName" [style]="{'text-align':'center'}">
               
                <div class="car-detail">{{profile.nav}}</div>
                <hr class="ui-widget-content" style="border-top:0">
                <div class="car-detail">{{profile.investmentDate}}</div>
                <div class="car-detail">{{profile.investmentAmount}}</div>
                <div class="car-detail">{{profile.units}}</div>
            </p-panel>
        </div>
    </ng-template>
</p-dataGrid>